body {
    margin: 0;
    box-sizing: border-box;
}

header .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #87cefa;
}

header .menu a {
    margin: 10px 15px;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    font: 18px Arial;
}

header .menu a:hover {
    color: red;
    background-color: #00ffff;
}

header .menu .logout {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

header .menu .logout button {
    border: 0;
    color: white;
    font-family: Arial;
    font-size: 16px;
    background-color: #87cefa;
    cursor: pointer;
}

header .menu .logout button:hover{
    color: red;
}

footer {
    position: fixed;
    bottom: 0;
    background: #87cefa;
}

footer .footer_text{
    
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

footer .footer_text p {
    font: 18px Arial;
}

footer .footer_text p a {
    text-decoration: none;
    color: white;
}

footer .footer_text p a:hover {
    color: red;
}

/* register/create.blade.php  && session/create.blade.php*/

.form {
    /* Center the form on the page */ 
    margin: 100px auto;
    width: 300px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC; 
    border-radius: 1em; 
  }

form input {
    padding: 10px;
    margin-bottom: 15px;
}

form input[type='submit'] {
    width: 201px;
    background-color: #87cefa;
    color: white;
    font: 16px Arial;
    border: 0;
}

ul {
    list-style: none;
    padding: 5px;
    margin: 45px;
  }
  
.display_errors p {
    text-align: center;
    font-size: 16px;
    color: red;
}

.session {
    width: 30%;
    border: 1px solid;
    border-radius: 10px;
    padding: 0 45px;
    background: aqua;
    font-size: 14px;
    font-family: Arial;
    color: white;
}

/* session/create.blade.php */

.login_header {
    position: relative;
    left: 350px;
    top: 100px;
}

.login_header h2 {
    font-size: 50px;
}